section {
  width: 640px;
  margin: 36px auto;
}

body {
  /*background-color: #1e252e;*/
  background-color: #272822;
  /*background-color: #333333;*/
  color: #e6e6e6;
  color: #EEEEEC;
}

pre {
  line-height: 1.3;
  font-size: 14px;
  font-family: Hack, "Source Code Pro", "Inconsolata", "Ubuntu", "Andale Mono", "Lucida Console", monospace;
}

#top {
  color: #6498EF;
  color: #357C4C;
  font-size: 18px;
}

#title {
  color:#EE4F84; 
  color:#357C4C;
  font-weight:bold;
}

#dollar {
  color: #66D9EF;
}

#dash {
  color: #A6E223;
  color:#FFD700;
}

#cursor {
  animation-name: cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes cursor {
  0% { background-color: #fff }
  5% { background-color: #1e252e }
  50% { background-color: #1e252e }
  55% { background-color: #fff }
  100% { background-color: #fff }
}

a {
    color: #0bc;
}

a:visited {
  color: #985EFF;
}

input[type="text"] {
  width: 60px;
}

