section {
	width: 640px;
	margin: 36px auto;
	border: 0px solid;
}

body {
	background-color: #1c1c1c;
	border: 0px solid;
	color: #e6e6e6;
	color: #EEEEEC;
}

pre {
	line-height: 1.3;
	font-size: 14px;
	border: 0px solid;
	font-family: Hack, "Source Code Pro", "Inconsolata", "Ubuntu", "Andale Mono", "Lucida Console", monospace;
}


.myHead {
	display: flex;
	align-items: center;
	justify-content: center;
	color:#EEEEEC;
	font-size: 42px;
}

.myHead blink::after {
	content: "";
	width: 20px;
	height: 50px;
	background: #EEEEEC;
	display: inline-block;
	animation: cursor-blink 1.5s steps(2) infinite;
}

.myHead blink{
	display: flex;
	align-items: center;
	gap: 2px;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

#myName {
	color:#468a1a;
	text-align: left;
}

.myBody {
	display: flex;
	align-items: center;
	justify-content: center;
	color:#EEEEEC;
	font-size: 25px;
}


.myFoot {
	margin-left: 20px;
	align-items: center;
	justify-content: center;
	color:#EEEEEC;
	font-size: 15px;
}

#top {
	color: #468a1a;
	font-size: 18px;
}


#title {
	color:#EE4F84; 
	color:#357C4C;
	color:#468a1a;
	font-weight:bold;
}


#synopsis {
}

textarea{
	font-size: 14px;
	resize: none;
	text-align: justify;
	white-space: pre-line;
	-moz-text-align-last: left;
	text-align-last: left;
	background-color: #1c1c1c;
	color: #EEEEEC;
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


#dollar {
	color: #66D9EF;
}

#dash {
	color: #A6E223;
	color: #FFD700;
}

#cursor {
	animation-name: cursor;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	display: inline-block;
}

@keyframes cursor {
	0% { background-color: #fff }
	5% { background-color: #1e252e }
	50% { background-color: #1e252e }
	55% { background-color: #fff }
	100% { background-color: #fff }
}

a {
	color: #0bc;	
}

.nobr { white-space: nowrap;
	justify-content:center; }

a:visited {
	color: #468;
}

input[type="text"] {
	width: 60px;
}

.verticalLine {
	border-left: 2px solid #000000;
}
